@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900');
@import 'partials/extend';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/body';

/*********************************
Top header
*********************************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 10;
}

.top_nav {
  @include wid-hei(100%, 50px);
  background: $black;
}

.top_nav_left {
  @extend %top-nav-params;
  img {
    height: 14px;
    line-height: 40px;
    font-size: 13px;
    color: $gray;
    text-transform: uppercase;
  }
}

.top_nav_right {
  right: -450px;
  @extend %top-nav-params;
}

/*********************************
Logo - ()Nordic beauty
*********************************/

.logo_container {
  position: absolute;
  top: 50%;
  left: 15px;
  @include transform(translateY(-50%));
  a {
    font-size: 24px;
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
    span {
      color: $main-red-color;
    }
  }
}

.navbar-bg {
  background-color: $light-red;
  height: 30px;
}

.navbar-brand img {
  width: 50px;
}

/*********************************
Main Navigation
*********************************/

.navbar {
  @include wid-hei(auto, 100px);
  float: right;
}

.navbar_menu {
  li {
    display: inline-block;
    a {
      display: block;
      color: $black;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 20px;
      @include transform(color 0.3s ease);
      &:hover {
        color: $gray;
      }
    }
  }
}

.navbar_user {
  margin-left: 37px;
  li {
    display: inline-block;
    text-align: center;
    a {
      @extend %display-state-location;
      @include wid-hei(40px, 40px);
      @include transform(color 0.3s ease);
      position: relative;
      color: $black;
      &:hover {
        color: $gray;
      }
    }
  }
}

.checkout a {
  background: $light-grey;
  border-radius: 50%;
}

.checkout_items {
  @extend %display-state-location;
  @include wid-hei(20px, 20px);
  position: absolute;
  top: -9px;
  left: 22px;
  border-radius: 50%;
  background: #fe4c50;
  font-size: 12px;
  color: #FFFFFF;
}

/*********************************
3.7 Main Slider
*********************************/

.main_slider {
  @include wid-hei(100%, 700px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 150px;
}

.main_slider_content {
  width: 60%;
  h1 {
    font-weight: 400;
    line-height: 1;
  }
}

.red_button {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include wid-hei(auto, 40px);
  background: $main-red-color;
  border-radius: 3px;
  @include transform(all 0.3s ease);
  &:hover {
    background: $light-red !important;
  }
  a {
    display: block;
    color: $white;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    width: 100%;
  }
}

.see_more_btn {
  width: 140px;
  margin-top: 32px;
}

/*********************************
Breadcrumbs
*********************************/

.breadcrumbs {
  @include wid-hei(100%, 60px);
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 58px;
  ul {
    li {
      display: inline-block;
      margin-right: 17px;
      &active {
        a {
          color: #b9b4c7;
        }
      }
      i {
        margin-right: 17px;
      }
      a {
        color: #51545f;
      }
    }
  }
}

.product_section_container {
  margin-top: 150px;
}

/*
The way to single service
*/
.single_product_container {
  margin-top: 150px;
  padding-bottom: 80px;
  border-bottom: solid 1px #ebebeb;
}

.image_col {
  padding-right: 30px;
}

.single_product_image {
  width: 100%;
  height: 527px;
  left: 10px;
  display: inline-block;
}

.single_product_image_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*Product details*/
.product_details {
  width: 100%
}

.product_details_tittle {
  font-weight: 500px;
  line-height: 30px;
  p {
    margin-top: 12px;
  }
}

.additional {
  background: #ebebeb;

  margin-top: 40px;
}

.additional span:last-child {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.additional span:first-child {
  display: inline-block;
  margin-right: 15px;
  font-size: 25px;
  @include transform(translateY(-1px))
}

.original_price {
  font-weight: 500;
  color: #b9b4c7;
  text-decoration: line-through;
  line-height: 30px;
  margin-top: 21px;
}

.product_price {
  display: inline-block;
  font-size: 24px;
  color: #fe4c50;
  font-weight: 500;
  line-height: 30px;
  margin-top: 2px;
}

.star_rating {
  display: inline-block;
  margin-left: -33px;
  li {
    display: inline-block;
    margin-right: -2px;
    cursor: pointer;
    i {
      color: #fac451;
    }
  }
}

.add_to_cart_button {
  width: 160px;
  margin-left: 280px;
  font-size: 12px !important;
}

.product_color {
  margin-top: 27px;
}

/*Description of product.*/
.tabs_section_container {
  width: 100%;
  padding-bottom: 80px;
  border-bottom: solid 1px #ebebeb;
}

.tab_container {
  with: 100%;
  display: inline-block;
  margin-top: 25px;
}

.tab_text_block {
  margin-bottom: 133px;
  p {
    font-weight: 400;
    margin-top: 10px;
  }
}

.tab_image {
  width: 100%;
  margin-bottom: 131px;
  img {
    width: 100%;
    display: inline-block;
  }
}

.desc_col {
  margin-bottom: 0px;
}

