%body-p-general {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

%top-nav-params {
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  color: #b5aec4;
  text-transform: uppercase;
}

%display-state-location {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
